<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Organization Board</h1>

    <div id="my-container">
		<form>
			<h4 style="color: white !important;">ORGANIZATION LANDING PAGE</h4>
			<button><a asp-action="Create" asp-controller="Certificate">Fund Wallet</a></button>
			<button><a asp-action="Update" asp-controller="Certificate">Buy Card</a></button>
			<button><a asp-action="Detail" asp-controller="Certificate">Profile</a></button>
			<button><a asp-action="GetCustomerCards" asp-controller="Card">History</a></button>
		</form>

	</div>
</body>
</html>